@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Calculator';
  src: url('/fonts/Calculator.ttf') format('truetype');
}

@font-face {
  font-family: 'Technovier';
  src: url('/fonts/Techovier.ttf') format('truetype');
}

html, body, #root {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1a1a1a;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f3f4f6;
} 